body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Title font */
.title-font {
  font-family: "Playfair Display", serif !important;
}

/* Description font */
.desc-font {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

/* <!-- Start What Our Customers Say Section --> */
@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}

/* ✨ Continuous animation */
.animate-scrollUp {
  animation: scrollUp 25s linear infinite;
}

.animate-scrollDown {
  animation: scrollDown 25s linear infinite;
}

/* Optional: Pause on hover */
.animate-scrollUp:hover,
.animate-scrollDown:hover {
  animation-play-state: paused;
}
@media (max-width: 767px) {
  .animate-scrollUp,
  .animate-scrollDown {
    animation: none !important;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes scrollLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@media (max-width: 767px) {
  .mobile-scroll {
    animation: scrollLeft 25s linear infinite;
  }
}

/* <!-- End What Our Customers Say Section --> */

#accordion .active {
  background-color: #1a70b4;
}

.mt-4 {
  margin-top: 1rem !important;
}


/* Line under link */
.nav-link::after {
  content                : '';
  position               : absolute;
  left                   : 50%;
  bottom                 : -32%;
  transform              : translateX(-50%);
  height                 : 3px;
  width                  : 0;
  border-top-left-radius : 5px;
  border-top-right-radius: 5px;
  background-color       : #1A70B4;
  transition             : all 0.3s ease;
}

.nav-link:hover {
  color: #1A70B4;
}

.nav-link:hover::after {
  width: 24px;
}

.nav-link.active {
  color: #1A70B4;
}

.nav-link.active::after {
  width           : 24px;
  background-color: #1A70B4;
}