body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Title font */
.title-font {
  font-family: "Playfair Display", serif !important;
}

/* Description font */
.desc-font {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

/* <!-- Start What Our Customers Say Section --> */
@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}

/* ✨ Continuous animation */
.animate-scrollUp {
  animation: scrollUp 25s linear infinite;
}

.animate-scrollDown {
  animation: scrollDown 25s linear infinite;
}

/* Optional: Pause on hover */
.animate-scrollUp:hover,
.animate-scrollDown:hover {
  animation-play-state: paused;
}

@media (max-width: 767px) {

  .animate-scrollUp,
  .animate-scrollDown {
    animation: none !important;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width   : none;
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  .mobile-scroll {
    animation: scrollLeft 25s linear infinite;
  }
}

/* <!-- End What Our Customers Say Section --> */

#accordion .active {
  background-color: #1a70b4;
}

.mt-4 {
  margin-top: 1rem !important;
}


.nav-item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 34px;
  height: 3px;
  background-color: #1A70B4;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease, left 0.3s ease;
}

.nav-item:hover::after {
  transform: scaleX(1);
  left: 0;
}

.nav-item.active::after {
  transform: scaleX(1);
  left: 50%;
  transform-origin: center;
  translate: -50% 0; 
}

.nav-item:hover > a,
.nav-item.active > a {
  color: #1A70B4;
}

